In [1]:
import pandas as pd

df = pd.read_csv("B3LYP_times.csv")
df.head()

   Unnamed: 0    mol_id     time
0           0  20218187   514.15
1           1  20200027   344.38
2           2     76490  1049.73
3           3  20227461  1108.05
4           4   2021289   906.68

In [3]:
print(df["time"].mean())

784.598