In [5]:
import os
import pandas as pd
df = pd.DataFrame()
df["mol_id"] = None
df["time"] = None

batch_dir = "/home/aweiland/comparing_theories/DFT/B3LYP/benchmark_test/outputs/batch_0"

for subdir in os.listdir(batch_dir):
    mol_id = subdir.strip("B3LYP_").strip(".inp")
    
    time_path = os.path.join(batch_dir, subdir + "/runtime.txt")
    f = open(time_path, "r")
    lines = f.readlines()
    f.close()
    for line in lines:
        if "real" in line:
            time = line.split()[1].strip()
            df.loc[len(df)] = [mol_id, time]
            break

In [1]:
import pandas as pd
df = pd.DataFrame()
df["mol_id"] = None
df["time"] = None
df.head()

Empty DataFrame
Columns: [mol_id, time]
Index: []

In [6]:
df.head()

     mol_id     time
0  20218187   514.15
1  20200027   344.38
2     76490  1049.73
3  20227461  1108.05
4   2021289   906.68

In [8]:
df.to_csv("B3LYP_times.csv")