In [2]:
import pandas as pd

fivek = pd.read_csv("/home/aweiland/comparing_theories/dft_geometries/Exp5K.csv")
fivek.head()

   Unnamed: 0  mol_id  atom_index  Shift  atom_type
0           0    2192           0  108.4          6
1           1    2192           1  159.8          6
2           2    2192           2  109.4          6
3           3    2192           3    8.1          6
4           4    2192           4  159.8          6

In [4]:
fivek.shape

(53331, 5)

In [6]:
df_cleaned = fivek.drop_duplicates(subset=['mol_id'], keep='first')
df_cleaned.shape

(5147, 5)

In [7]:
df_cleaned.to_csv("5k_mol_ids.csv")

In [15]:
import shutil
import os

all_mols_path = "/home/aweiland/comparing_theories/dft_geometries/dft_xyz_files"
fivek_mols = "/home/aweiland/comparing_theories/dft_geometries/5k_mols"


for _, row in df_cleaned.iterrows():
    mol_id = str(int(float(row["mol_id"])))

    xyz_file = os.path.join(all_mols_path, "dft_" + mol_id + ".xyz")
    
    try:
        shutil.copy(xyz_file, fivek_mols)
    except:
        print(mol_id)
        continue

20129
75020
75022
75353
76061
76471
30000162
30001653