In [1]:
import pandas as pd

df = pd.read_csv("uma_stats.csv")
df.head()

   Unnamed: 0    mol_id  uma_time
0           0  20045643       2.0
1           1     21337       1.0
2           2  20026004       2.0
3           3  10018040       2.0
4           4  20052135       0.0

In [ ]:
df["minutes"] = df["uma_time"] / 60