In [7]:
import os
import pandas as pd
df = pd.DataFrame()
df["mol_id"] = None
df["time"] = None

batch_dir = "/home/aweiland/comparing_theories/DFT/wB97mv/benchmark/outputs/batch_0"

for subdir in os.listdir(batch_dir):
    mol_id = subdir.strip("B3LYP_").strip(".inp")
    
    time_path = os.path.join(batch_dir, subdir + "/runtime.txt")
    f = open(time_path, "r")
    lines = f.readlines()
    f.close()
    for line in lines:
        if "real" in line:
            time = float(line.split()[1].strip())
            df.loc[len(df)] = [mol_id, time]
            break

In [4]:
df.head()

     mol_id     time
0  20209497   681.88
1  20234091  1062.58
2     88809   727.16
3      8848  2176.91
4  20209225   716.68

In [8]:
print(df["time"].mean())

1073.042