#Finds runtime of orca calculations

In [15]:
import pandas as pd
df = pd.read_csv("/home/aweiland/comparing_theories/5k_mol_stats.csv")

df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,mol_id,atom_index,Shift,atom_type,num_atoms,...,egret_runtime,egret_rmsd,egret_time,uma_time,uma_rmsd,r2scan_time,r2scan-3c_rmsd,B3LYP_time,B3LYP_rmsd,wb97_time
0,0,0,0,0,0,2192,0,108.4,6,57,...,464.0,0.003635,464.0,6.0,0.001347,6251.17,0.331355,689.53,0.112193,534.77
1,1,1,1,1,1,2194,0,12.9,6,27,...,373.0,0.002764,373.0,2.0,0.001143,812.51,0.033727,595.59,0.039446,872.74
2,2,2,2,2,2,2198,0,144.8,6,48,...,278.0,0.001712,278.0,3.0,0.001064,4109.44,0.106159,247.86,0.060537,913.59
3,3,3,3,3,3,2202,1,69.4,6,40,...,315.0,0.002875,315.0,4.0,0.001282,2879.94,0.044456,2479.13,0.125377,4281.15
4,4,4,4,4,4,2203,1,69.0,6,29,...,461.0,0.005081,461.0,3.0,0.001593,1322.37,0.084289,1239.67,0.073515,1418.14

In [20]:
df.head()

,Unnamed: 0.1.1.1.1,mol_id,atom_index,Shift,atom_type,num_atoms,xtb_rmsd,aimnet_rmsd,xtb_runtime,egret_runtime,egret_rmsd,egret_time,uma_time,uma_rmsd,r2scan_time,r2scan-3c_rmsd,B3LYP_time,B3LYP_rmsd,wb97_time
0,0,2192,0,108.4,6,57,0.567481,0.476640,313.008,464.0,0.003635,464.0,6.0,0.001347,6251.17,0.331355,689.53,0.112193,534.77
1,1,2194,0,12.9,6,27,0.145308,0.075593,206.791,373.0,0.002764,373.0,2.0,0.001143,812.51,0.033727,595.59,0.039446,872.74
2,2,2198,0,144.8,6,48,0.121894,0.174574,129.533,278.0,0.001712,278.0,3.0,0.001064,4109.44,0.106159,247.86,0.060537,913.59
3,3,2202,1,69.4,6,40,0.200460,0.129943,224.729,315.0,0.002875,315.0,4.0,0.001282,2879.94,0.044456,2479.13,0.125377,4281.15
4,4,2203,1,69.0,6,29,0.197792,0.104656,159.481,461.0,0.005081,461.0,3.0,0.001593,1322.37,0.084289,1239.67,0.073515,1418.14

In [10]:
df["xtb_runtime"] = None
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1.1.1,mol_id,atom_index,Shift,atom_type,num_atoms,xtb_rmsd,aimnet_rmsd,...,egret_runtime,egret_rmsd,egret_time,uma_time,uma_rmsd,r2scan_time,r2scan-3c_rmsd,B3LYP_time,B3LYP_rmsd,wb97_time
0,0,0,0,2192,0,108.4,6,57,0.567481,0.476640,...,464.0,0.003635,464.0,6.0,0.001347,6251.17,0.331355,689.53,0.112193,534.77
1,1,1,1,2194,0,12.9,6,27,0.145308,0.075593,...,373.0,0.002764,373.0,2.0,0.001143,812.51,0.033727,595.59,0.039446,872.74
2,2,2,2,2198,0,144.8,6,48,0.121894,0.174574,...,278.0,0.001712,278.0,3.0,0.001064,4109.44,0.106159,247.86,0.060537,913.59
3,3,3,3,2202,1,69.4,6,40,0.200460,0.129943,...,315.0,0.002875,315.0,4.0,0.001282,2879.94,0.044456,2479.13,0.125377,4281.15
4,4,4,4,2203,1,69.0,6,29,0.197792,0.104656,...,461.0,0.005081,461.0,3.0,0.001593,1322.37,0.084289,1239.67,0.073515,1418.14

In [3]:
import os

for dirpath, dirnames, files in os.walk("/home/aweiland/comparing_theories/xTB/final_run/outputs"):
    for file in files:
        if file.endswith(".out"):
            
            try:
                mol_id = int(file.strip("xtb_").strip(".out"))
            except:
                print(file)
                continue
            file_path = os.path.join(dirpath, file)
            
            f = open(file_path, "r")
            line = next(f)


            while line is not None:
                if "Sum of individual times" in line:
                    time = float(line.split()[5])
                    df.loc[df["mol_id"] == mol_id, "xtb_runtime"] = time

                    f.close()
                    break
                line = next(f, None)

xtb_2207_D00205.properties.out

In [4]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,mol_id,atom_index,Shift,atom_type,num_atoms,xtb_rmsd,aimnet_rmsd,xtb_runtime,egret_runtime,egret_rmsd,egret_time,uma_time,uma_rmsd,r2scan_time,r2scan-3c_rmsd,B3LYP_time,B3LYP_rmsd
0,0,0,0,2192,0,108.4,6,57,0.567481,0.476640,313.008,464.0,0.003635,464.0,6.0,0.001347,6251.17,0.331355,689.53,0.112193
1,1,1,1,2194,0,12.9,6,27,0.145308,0.075593,206.791,373.0,0.002764,373.0,2.0,0.001143,812.51,0.033727,595.59,0.039446
2,2,2,2,2198,0,144.8,6,48,0.121894,0.174574,129.533,278.0,0.001712,278.0,3.0,0.001064,4109.44,0.106159,247.86,0.060537
3,3,3,3,2202,1,69.4,6,40,0.200460,0.129943,224.729,315.0,0.002875,315.0,4.0,0.001282,2879.94,0.044456,2479.13,0.125377
4,4,4,4,2203,1,69.0,6,29,0.197792,0.104656,159.481,461.0,0.005081,461.0,3.0,0.001593,1322.37,0.084289,1239.67,0.073515

In [12]:
df.to_csv("/home/aweiland/comparing_theories/5k_mol_stats.csv")

In [2]:
import pandas as pd
df = pd.read_csv("/home/aweiland/comparing_theories/5k_mol_stats.csv")
df["uma_time"] = None
df.head()

,mol_id,atom_index,Shift,atom_type,num_atoms,xtb_rmsd,aimnet_rmsd,xtb_runtime,egret_runtime,egret_rmsd,egret_time,uma_time
0,2192,0,108.4,6,57,0.567481,0.476640,28.857,464.0,0.003635,464.0,None
1,2194,0,12.9,6,27,0.145308,0.075593,10.976,373.0,0.002764,373.0,None
2,2198,0,144.8,6,48,0.121894,0.174574,5.158,278.0,0.001712,278.0,None
3,2202,1,69.4,6,40,0.200460,0.129943,15.214,315.0,0.002875,315.0,None
4,2203,1,69.0,6,29,0.197792,0.104656,11.489,461.0,0.005081,461.0,None

In [5]:
#getting times for uma
#Script to get the time taken for all egret calculations and put them
#into a dataframe



import os
from datetime import datetime

batch_dir_path = "/home/aweiland/comparing_theories/UMA/final_uma/outputs"



for sub_dir in os.listdir(batch_dir_path):

    mol_id = int(sub_dir.strip("mol_"))

    sub_dir_path = os.path.join(batch_dir_path, sub_dir)

    log_dir = os.path.join(sub_dir_path, "opt.log")


    with open(log_dir, "r") as f:
        lines = f.readlines()
        try:
            start = lines[1].split()[2]
            end = lines[-1].split()[2]
        except IndexError:
            pass



        fmt = "%H:%M:%S"
        t1 = datetime.strptime(start, fmt)
        t2 = datetime.strptime(end, fmt)

        #handles situation where job starts one day and ends another 
        #which could create a negative time
        if start[0] == "2" and end[0] == "0":
            start = "1-" + start
            end = "2-" + end
            fmt = "%d-%H:%M:%S"
            t1 = datetime.strptime(start, fmt)
            t2 = datetime.strptime(end, fmt)


        delta = t2 - t1

        seconds = delta.total_seconds()

        df.loc[df["mol_id"] == mol_id, "uma_time"] = seconds

df.head()

,mol_id,atom_index,Shift,atom_type,num_atoms,xtb_rmsd,aimnet_rmsd,xtb_runtime,egret_runtime,egret_rmsd,egret_time,uma_time
0,2192,0,108.4,6,57,0.567481,0.476640,28.857,464.0,0.003635,464.0,6.0
1,2194,0,12.9,6,27,0.145308,0.075593,10.976,373.0,0.002764,373.0,2.0
2,2198,0,144.8,6,48,0.121894,0.174574,5.158,278.0,0.001712,278.0,3.0
3,2202,1,69.4,6,40,0.200460,0.129943,15.214,315.0,0.002875,315.0,4.0
4,2203,1,69.0,6,29,0.197792,0.104656,11.489,461.0,0.005081,461.0,3.0

In [6]:
df.to_csv("/home/aweiland/comparing_theories/5k_mol_stats.csv", index=False)

In [2]:
import pandas as pd
df = pd.read_csv("/home/aweiland/comparing_theories/5k_mol_stats.csv")
df["r2scan_time"] = None

In [8]:
df.head()

,Unnamed: 0,mol_id,atom_index,Shift,atom_type,num_atoms,xtb_rmsd,aimnet_rmsd,xtb_runtime,egret_runtime,egret_rmsd,egret_time,uma_time,uma_rmsd,r2scan_time
0,0,2192,0,108.4,6,57,0.567481,0.476640,28.857,464.0,0.003635,464.0,6.0,0.001347,6251.17
1,1,2194,0,12.9,6,27,0.145308,0.075593,10.976,373.0,0.002764,373.0,2.0,0.001143,812.51
2,2,2198,0,144.8,6,48,0.121894,0.174574,5.158,278.0,0.001712,278.0,3.0,0.001064,4109.44
3,3,2202,1,69.4,6,40,0.200460,0.129943,15.214,315.0,0.002875,315.0,4.0,0.001282,2879.94
4,4,2203,1,69.0,6,29,0.197792,0.104656,11.489,461.0,0.005081,461.0,3.0,0.001593,1322.37

In [46]:

df["B3LYP_time"] = None

In [47]:
#getting times for b3lyp calculations
import os
i = 0


for dirpath, dirnames, files in os.walk("/home/aweiland/comparing_theories/DFT/B3LYP/final_run/outputs"):
    for file in files:
        if file.endswith(".txt"):
            mol_id = int(dirpath.split("B3LYP_")[-1].split("/batch")[0])
            file_path = os.path.join(dirpath, "runtime.txt")
            f = open(file_path, "r")
            lines = f.readlines()
            f.close()
            try:
                run_time = float(lines[-3].split()[1])
            except IndexError:
                i += 1
                continue
            df.loc[df['mol_id'] == mol_id, 'B3LYP_time'] = run_time
print(i)

0

In [41]:
df["wb97_time"] = None

In [43]:
#getting times for b3lyp calculations
import os
i = 0
j = 0

for dirpath, dirnames, files in os.walk("/home/aweiland/comparing_theories/DFT/wB97mv/final_run/redo_outputs"):
    for file in files:
        if file.endswith(".txt"):
            j += 1
            mol_id = int(dirpath.split("wB97M_")[-1].split("/batch")[0])
            file_path = os.path.join(dirpath, "runtime.txt")
            f = open(file_path, "r")
            lines = f.readlines()
            f.close()
            try:
                run_time = float(lines[-3].split()[1])
            except IndexError:
                
                i += 1
                continue
            df.loc[df['mol_id'] == mol_id, 'wb97_time'] = run_time
print(i)
print(j)

0
1708

In [25]:
df.head()

,Unnamed: 0.1.1.1.1,mol_id,atom_index,Shift,atom_type,num_atoms,xtb_rmsd,aimnet_rmsd,xtb_runtime,egret_runtime,egret_rmsd,egret_time,uma_time,uma_rmsd,r2scan_time,r2scan-3c_rmsd,B3LYP_time,B3LYP_rmsd,wb97_time
0,0,2192,0,108.4,6,57,0.567481,0.476640,313.008,464.0,0.003635,464.0,6.0,0.001347,6251.17,0.331355,689.53,0.112193,534.77
1,1,2194,0,12.9,6,27,0.145308,0.075593,206.791,373.0,0.002764,373.0,2.0,0.001143,812.51,0.033727,595.59,0.039446,872.74
2,2,2198,0,144.8,6,48,0.121894,0.174574,129.533,278.0,0.001712,278.0,3.0,0.001064,4109.44,0.106159,247.86,0.060537,913.59
3,3,2202,1,69.4,6,40,0.200460,0.129943,224.729,315.0,0.002875,315.0,4.0,0.001282,2879.94,0.044456,2479.13,0.125377,4281.15
4,4,2203,1,69.0,6,29,0.197792,0.104656,159.481,461.0,0.005081,461.0,3.0,0.001593,1322.37,0.084289,1239.67,0.073515,1418.14

In [44]:
df_cleaned = df.dropna()
df_cleaned.shape

(4466, 19)

In [48]:
df.to_csv("/home/aweiland/comparing_theories/5k_mol_stats.csv")